*.log
.#*
*.*~
*.jsfdia
*.orig
*.bak
*.ids
*.iml
*.ipr
*.iws
target*
.ideaDataSources
dataSources
target/
RemoteSystemsTempFiles/
.forge_settings
bin/
.project
.idea
.ideaDataSources
dataSources
.classpath
.settings/
*~
#*#
*.bak
